{
    "parser": "babel-eslint",
    "extends": [
        "colourbox",
        "plugin:jest/recommended",
        "jest-enzyme"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/react-in-jsx-scope": 0,
        "import/prefer-default-export": 0,
        "import/extensions": 0
    },
    "settings": {
        "import/resolver": {
            "webpack": {}
        }
    },
    "plugins": [
        "json"
    ],
    "globals": {
        "window": "off",
        "document": "off"
    }
}
